<h3 class="form-input-data fw-bolder">{{ deviceName }}</h3>

@for (parameter of parameters ; track $index) {
  <div class="d-flex flex-row align-items-end mb-2">
    <button type="button" class="btn align-self-center mb-1" (click)="removeParameter($index)">
      <i class="bi-dash-circle-fill fs-5"></i>
    </button>

    <div class="form-input-data ms-2">
      <span class="form-label me-3">ידית</span>

      <mat-form-field class="w-50" appearance="fill">
        <mat-select [(ngModel)]="parameter.handle">
          @for (handle of endimedHandlers | keyvalue ; track handle.key) {
            <mat-option class="bg-white" [value]="handle.value">{{handle.value}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-input-data">
      <span class="form-label">רמה</span>

      <input class="form-control" type="number" [(ngModel)]="parameter.level">
    </div>
  </div>
}
<button type="button" class="form-control form-input-data" (click)="addParameter()">
  הוספת ידית
</button>

<div class="form-input-data">
  <span class="form-label"> חומר</span>

  <input class="form-control" type="text" [(ngModel)]="material"/>
</div>


