<h5 class="form-input-data">{{ deviceName }}</h5>

<div class="form-input-data">
  <span class="form-label">תוכנית </span>

  @for (procedure of plasmaProcedures | keyvalue ; track procedure.key) {
    <button type="button" class="form-control mb-1" (click)="parameters.selectedProcedure=procedure.value">
      {{procedure.value}}
    </button>
  }
</div>

@if(parameters.selectedProcedure != plasmaProcedures.Diamond){
  <div class="form-input-data">
    <span class="form-label">ערך </span>

    <input class="form-control" type="number"
           min="1" max="10"
           [(ngModel)]="parameters.parameterValue">
  </div>
}

<div class="form-input-data">
  <span class="form-label">חומר </span>

  <input class="form-control" type="text" [(ngModel)]="material"/>
</div>
