
@if(users){
  <div>
    <label> שם העובדת</label>
    <select class="form-control" [(ngModel)]="userName">
      @for(user of users; track $index){
        <option [value]="user">
            {{ user }}
        </option>
      }
    </select>
  </div>
}

<div>
  <label>שם הלקוחה</label>
  <input type="text" [(ngModel)]="treatmentDataService.patientName">
</div>

<div class="d-flex align-items-center w-50">
  <mat-grid-list class="w-50" cols="6" rowHeight="200" >
<div class="container py-4">
  <div class="row g-5">
    @for (device of devices; track device) {
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4"
           (click)=treatmentDataService.updateSelection(device.name,device.component)>
        <div class="card h-100 shadow-sm"
             [class.selected]="treatmentDataService.isDeviceSelected(device.component)">
          <img class="card-img-top"
               style="height: 120px; object-fit: cover;"
               [src]="device.image"
               alt="{{ device.name }}">

          <div class="card-body d-flex flex-column">
            <p class="card-text text-muted">{{ device.name }}</p>
          </div>
        </div>
      </div>
    }

  </div>

  <button class="btn btn-primary" type="submit" (click)="moveToDevicesComponent()">Next</button>
</div>
