body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card.selected {
  border: 2px solid #CFB53B; /* Bootstrap primary color */
  background-color: #f6f4d9;
}
