
@if(users){
  <div>
    <label> שם העובדת</label>
    <select class="form-control" [(ngModel)]="userName">
      @for(user of users; track $index){
        <option [value]="user">
            {{ user }}
        </option>
      }
    </select>
  </div>
}

<div>
  <label>שם הלקוחה</label>
  <input type="text" [(ngModel)]="treatmentDataService.patientName">
</div>

<div class="d-flex align-items-center w-50">
  <mat-grid-list class="w-50" cols="6" rowHeight="200" >
    @for (device of devices; track device) {
      <div (click)=treatmentDataService.updateSelection(device.name,device.component)>
        <mat-grid-tile class="w-75"
                       [colspan]="device.cols"
                       [rowspan]="device.rows">

          <div class="d-flex flex-column align-items-center justify-content-center h-100 m-5" >
            <img
              class="object-fit-cover border border-secondary rounded-5 w-50"
              [src]="device.image"
              alt="{{ device.name }}">
            {{ device.name }}
          </div>

        </mat-grid-tile>
      </div>
    }
  </mat-grid-list>
</div>
<button type="submit" (click)="moveToDevicesComponent()">Next</button>
