body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

select.form-control option:hover {
  background-color: red;
  color: white;
}

.card.selected {
  border: 2px solid black; /* Bootstrap primary color */
  background-color: #faf9e9;
}
