

<div class="container px-2 px-sm-4 py-4">
  <button type="button" class="bi bi-box-arrow-right border-0 rounded-1 bg-dark text-white bi-align-center" (click)="logOut()"></button>

  @if(users){
    <div class="d-flex justify-content-md-end gap-2" dir="ltr">
      <label> שם העובדת</label>
      <select class="form-control" [(ngModel)]="userName">
        @for(user of users; track $index){
          <option [value]="user">
            {{ user }}
          </option>
        }
      </select>
    </div>
  }

  <div class="d-flex justify-content-md-end gap-2" dir="ltr">
    <label>שם הלקוחה</label>
    <input class="form-input-data" type="text" [(ngModel)]="treatmentDataService.patientName">
  </div>

  <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
    @for (device of devices; track device) {
      <div (click)=treatmentDataService.updateSelection(device.name,device.component)>
        <div class="card h-100 shadow-sm compact"
             [class.selected]="treatmentDataService.isDeviceSelected(device.component)">
          <img class="card-img-top w-100 img-fluid"
               style="height: 100px; object-fit: cover;"
               [src]="device.image"
               alt="{{ device.name }}">

          <div class="card-body d-flex flex-column text-center">
            <p class="card-text text-muted">{{ device.name }}</p>
          </div>
        </div>
      </div>
    }
  </div>

  <button class="gold-outline-button" type="submit" (click)="moveToDevicesComponent()" [disabled]="!treatmentDataService.selectedDevices.length">הבא</button>
</div>
