<div class="d-flex align-items-center w-50">
  <mat-grid-list class="w-50" cols="6" rowHeight="200" >
    @for (device of devices; track device) {
      <mat-grid-tile class="w-75"
        [colspan]="device.cols"
        [rowspan]="device.rows">
        
        <div class="d-flex flex-column align-items-center justify-content-center h-100 m-5">
          <img 
            class="object-fit-cover border border-secondary rounded-5 w-50" 
            [src]="device.image"
            alt="{{ device.name }}">
            {{ device.name }}
        </div>

      </mat-grid-tile>
    }
  </mat-grid-list>
</div>