<div class="d-flex justify-content-end align-items-end mt-1">
    <div class="card-body me-3">
      <form dir="rtl">
        <h3 class="form-input-data fw-bolder">סיכום טיפול</h3>

        <div class="form-input-data">
          <span class="form-label">תגובת העור</span>

          <input class="form-control" name="reaction"  type="text" [(ngModel)]="treatmentDataService.treatmentReport.reaction">
        </div>

        <div class="form-input-data">
          <span class="form-label">מאלחש</span>

          <input class="form-control" name="anesthetic" type="text" [(ngModel)]="treatmentDataService.treatmentReport.anesthetic">
        </div>

        <div class="form-input-data">
          <span class="form-label">הערות</span>

          <textarea class="form-control"  name="notes" [(ngModel)]="treatmentDataService.treatmentReport.notes"></textarea>
        </div>

        <div class="card-footer bg-white mt-5 border-0 ">
          <button class="btn send-button ms-2 gold-button" (click)="sendData()" [disabled]="isSendEnabled"> שלח </button>

          <button class="btn btn-secondary" (click)="location.back()"> הקודם</button>
        </div>
      </form>
    </div>
</div>

