<h5>{{ deviceName }}</h5>
<mat-form-field>
  <label>בחרי ראשים</label>
  <mat-select [multiple]="true" [(value)]="parameters.head" >
    @for(head of wishHeads | keyvalue; track head.key){
      <mat-option [value]="head.value">
        {{head.value}}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <label>בחרי קפסולה</label>
  <mat-select [(value)]="parameters.capsule" >
    @for(capsule of wishCapsules | keyvalue; track capsule.key){
      <mat-option [value]="capsule.value">
        {{capsule.value}}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

<div>
  <span> חומר</span>
  <input type="text" [(ngModel)]="material"/>
</div>
