<form>
  <h5 class="form-input-data">{{ deviceName }}</h5>

  <div class="form-input-data">
    <label class="form-label">בחרי ראשים</label>

    <mat-form-field appearance="fill">
      <mat-select [multiple]="true" [(value)]="parameters.technics" >
        @for(technic of  plasmaFractionalTechnics | keyvalue; track technic.key){
          <mat-option class="bg-white" [value]="technic.value">
            {{technic.value}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-input-data">
    <span class="form-label"> חומר</span>

    <input class="form-control" type="text" [(ngModel)]="material"/>
  </div>
</form>
