/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


.card {
  min-width: max-content;
  width: 60%;
  border-radius: 4px !important;
}

.form-input-data {
  margin-bottom: 5%;
}

.gold-outline-button {
   padding: 8px 20px;
   font-size: 16px;
   font-weight: bold;
   color: black;
   background-color: white;
   border-radius: 30px;


  border-image: linear-gradient(
       to right,
       #CFB53B,
       #C5B358,
       #FAFAD2,
       #F0E68C,
       #D4AF37,
       #F0E68C,
       #CFB53B
   );
   border-image-slice: 1;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;

   &:hover {
     box-shadow: 0 0 .25rem #CFB53B, -.125rem -.125rem 1rem #FAFAD2, .125rem .125rem 1rem #F0E68C;
     transform: scale(1.01);
   }
 }

.mat-pseudo-checkbox {
  order: 1;
}

.mdc-list-item__primary-text {
  margin: auto;
}

.btn-secondary {
  background-color: black;
}
