/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


.card {
  min-width: max-content;
  width: 60%;
  border-radius: 4px !important;
}

.form-input-data {
  margin-bottom: 5%;
}

.gold-button {
    width: 75px;
    padding-top: 5px;
    padding-bottom: 4px;
    border: 3.5px solid transparent;
    border-radius: 10px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.gold-next-button {
  background-image:
    linear-gradient(white, white),
    linear-gradient(to right, #fdde5c, #C5B358, #FAFAD2, #F0E68C, #CFB53B);
  color: black;

  &:hover {
    box-shadow: 0 0 .25rem #CFB53B,
    -.125rem -.125rem 1rem #FAFAD2,
    .125rem .125rem 1rem #F0E68C;
    transform: scale(1.01);
  }
}

.mat-pseudo-checkbox {
  order: 1;
}

.mdc-list-item__primary-text {
  margin: auto;
}

.btn-secondary {
  background-color: black;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid black;

}

