

.mat-select-panel .mat-option {
  background-color: black; /* Light cyan background */
}

/* Optional: change hover color */
.mat-select-panel .mat-option:hover {
  background-color: black;
}

.cdk-overlay-pane {
  background-color: black;
}

.select-background {
  background-color: black;
}

.mat-select-content{
  width:2000px;
  background-color: red;
  font-size: 10px;
}
