<h3 class="form-input-data fw-bolder">{{ deviceName }}</h3>

<div class="form-input-data">
  <label class="form-label">בחרי ידיות</label>

  <mat-form-field appearance="fill">
    <mat-select [multiple]="true" [(value)]="parameters.handles" (selectionChange)="computeRequired()">
      @for(handle of hifuHandles | keyvalue; track handle.key){
        <mat-option class="bg-white" [value]="handle.value">
          {{handle.value}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="form-input-data">
  <span class="form-label"> עוצמה</span>

  <input class="form-control" type="number" [(ngModel)]="parameters.intensity" >
</div>


<div class="form-input-data">
  <span class="form-label"> חומר</span>

  <input class="form-control" type="text" [(ngModel)]="material" required/>
</div>
