<h5 class="form-input-data">{{ deviceName }}</h5>

<div class="form-input-data">
  <label class="form-label">בחרי ידיות</label>

  <mat-select class="form-control" [multiple]="true" [(value)]="parameters.handles" (selectionChange)="computeRequired()">
    @for(handle of hifuHandles | keyvalue; track handle.key){
      <mat-option [value]="handle.value">
        {{handle.value}}
      </mat-option>
    }
  </mat-select>
</div>

<div class="form-input-data">
  <span class="form-label"> עוצמה</span>

  <input class="form-control" type="number" [(ngModel)]="parameters.intensity" >
</div>


<div class="form-input-data">
  <span class="form-label"> חומר</span>

  <input class="form-control" type="text" [(ngModel)]="material" required/>
</div>
