<div class="d-flex justify-content-center mt-1">
  <div class="card">
    <div class="card-body">
      <form #myForm="ngForm">
        <div appDynamicChildLoader
             [component]="selectedComponents[currentComponentIndex]" >
        </div>
      </form>
    </div>

    <div class="card-footer">
      @if (currentComponentIndex > 0) {
        <button class="btn btn-secondary me-1" (click)="backToPreviousComponent()"> Back</button>
      }

      <button class="btn btn-primary"  type="submit" (click)="moveToNextComponent(myForm)">Next</button>
    </div>
  </div>
</div>
